LISTEN_HOST=0.0.0.0
LISTEN_PORT=7000

MESSAGE_SOURCE=tcp

# MySQL over ODBC
DRIVER_PATH = "/usr/lib/x86_64-linux-gnu/odbc/libmyodbc9w.so"
DB_MESSAGE_TABLE=messages
DB_DIALECT=mysql
DB_DRIVER=MySQL ODBC 9.6 Driver
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=test1
DB_USER=test
DB_PASSWORD=cats

MESSAGE_SOURCE=mock