[Unit]
Description=TG Scanners Service
After=network.target
Wants=network-online.target

[Service]
Type=simple

# Run as dedicated user
User=tg-scanner
Group=tg-scanner

# There the code is cloned
WorkingDirectory=/var/opt/tg-scanners

# Env file saved here
EnvironmentFile=/etc/tg-scanners/tg-scanners.env

# Use the venv Python explicitly
ExecStart=/var/opt/tg-scanners/venv/bin/gunicorn -w 1 -b 0.0.0.0:5000 python-server:app

# Environment (optional but recommended)
Environment=PYTHONUNBUFFERED=1

# Reliability
Restart=on-failure
RestartSec=5

# Logging
StandardOutput=journal
StandardError=journal

# Hardening (safe defaults)
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=full
ProtectHome=true

[Install]
WantedBy=multi-user.target
